*{
	margin: 0;
	padding: 0;
	font-family: system-ui, sans-serif; 
}

header{
	position: fixed;
	top:0; 
	left:10;
	width: 100%; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	z-index: 100000;
}

#logo{
	padding: 0 40px;
}

header .headernav a{
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-weight: lighter;
	font-size: 21px;
	padding: 0 32px;


}

header .headernav{

display: inline-block;
position: relative;
right: 500px;

}

.dropdown{
position: absolute;
list-style: none;
background: #c4915c;
border-radius: 6px;
text-align: center;
margin-top:8px;
padding: 10px 4px;
display: none;
opacity: 0.96;
font-weight: lighter;

}
#cusdd{
 margin-left: 20px;
}

#galerydd{
	margin-left: 12px;
}

.dropdown li {
	height: 30px;
}

.dropdown li a{
	font-size: 12px;
}

.dropdown li a:hover{
	transform: scale(1.1);
	font-weight: bold;
}

.sticky{
	padding: 4px 100px;
	background-color:#c4915c;


}

.mainmain{
	position: relative;
	padding: 50px 100px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image:url(https://iili.io/2Y1hdX.png); 
	background-size: cover;
}

.mainmain h4{
	color: white;
	font-size: 21px;

}
.mainmain p{

	color: white;
	font-size: 16px;
}

.mainsentence{

width: 720px;


}




.sentence{
	position: relative;
	padding: 50px 100px;
	min-height: 25vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image:url(https://iili.io/2Y1MqN.png); 
	background-size: cover;


}

.sentence h2{
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 35px
}

.sentence p{
	position:relative;
	color: yellow;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	right:  305px;
	top: 25px

}
.youtubeandpodcast{
	position: relative;
	min-height: 150vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image:url(https://iili.io/21Tggn.png); 
	background-size: cover;

}

.youtubeandpodcast .podcast-description{
	width: 40%;
	position:relative;
	right: 220px;
	top: 100px
}



.youtubeandpodcast .podcast-description h2{
color:white;
font-size: 25px

}
.youtubeandpodcast .podcast-description p{
color:#f2bb66;
font-size: 18px;


}
.youtubeandpodcast .podcast-description a{
color:#ff7f00;
font-size: 15px;
}

.youtubeandpodcast .youtube-video{
	position: relative;
	width: 1000px;
	display: flex;
	right: 30px;

	
}

.youtubeandpodcast .youtube-video .video-description{
	width: 45%;
	position:relative;
	left: 30px;
}

.youtubeandpodcast .youtube-video .video-description h2{
color:white;
font-size: 30px

}
.youtubeandpodcast .youtube-video .video-description p{
color:#f2bb66;
font-size: 18px;


}
.youtubeandpodcast .youtube-video .video-description a{
color:#ff7f00;
font-size: 15px;
}

.mainform{
	position: relative;
	padding: 10px 10px;
	min-height: 140vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-image:url(https://iili.io/2Y1Wgt.jpg); 
	background-size: cover;
}

.mainform .q h2{
position: relative;
color: silver;
font-size: 32px;
top: -10vh;
width: 450px;

}

.mainform .q {
display: flex;
justify-content: center;
height: 600px;


}



.mainform .q .asking .line .ask-warm{
color: silver;
font-size: 15px;
display: flex;
}

.mainform .q .asking{
	position: relative; 
	right: 18vh;
	align-items: center;
}

.mainform .q .asking .full-name{
	
	padding: 10px 45px;
	background: #fff;
	display: flex; 
	border-radius: 25px;
}

.mainform .q .asking .full-name .input-name{
	position: relative;
	border:none;
	width: 60%;
	left: 40px;
	outline: none;
	font-size: 16px;
}

.mainform .q .asking  .email{
	
	padding: 10px 45px;
	background: #fff;
	display: flex; 
	border-radius: 25px;
	position: relative;
	top: 5vh;
}

.mainform .q .asking  .email  .input-email{
	position: relative;
	border:none;
	width: 60%;
	left: 40px;
	outline: none;
	font-size: 16px;
}

.mainform .q .asking .your-message{
	
	padding: 40px 45px;
	background: #fff;
	border-radius: 25px;
	position: relative;
	top: 10vh;
}

.mainform .q .asking  .your-message .input-message{
	position: relative;
	border:none;
	height: 15vh;
	width: 100%;
	top: -30px;
	outline: none;
	font-size: 16px;
	resize: none;

}

.btn{

	padding: 15px 48px;
	position: relative;
	top: 90px;
	text-align: center;
	left: 140px;
	cursor: pointer;
	background: none;
	border: 2px solid orange;
	border-radius:20px;
	outline: none; 
}

#btn2{

	padding: 15px 48px;
	position: relative;
	top: 60px;
	text-align: center;
	left: 140px;
	cursor: pointer;
	background: none;
	border: 2px solid orange;
	border-radius:20px; 
	outline: none; 

}

.btnt{
	font-size: 20px;
	color: white;
	cursor: pointer;
}

.mainform .q .subscribing{
	position: relative;
	left: 18vh;
	align-items: center;
}

.mainform .q .subscribing  h2{
position: relative;
color: silver;
font-size: 32px;
top: -10vh;

}



.mainform .q .subscribing .line0 .ask-warm0{
color: silver;
font-size: 15px;
display: flex;
}

.mainform .q .subscribing  .full-name0{
	
	padding: 10px 45px;
	background: #fff;
	display: flex; 
	border-radius: 25px;
}

.mainform .q .subscribing  .full-name0 .input-name0{
	position: relative;
	border:none;
	width: 70%;
	left: 40px;
	outline: none;
	font-size: 16px;
}

.mainform .q .subscribing  .email0{
	
	padding: 10px 45px;
	background: #fff;
	display: flex; 
	border-radius: 25px;
	position: relative;
	top: 5vh;
}

.mainform .q .subscribing .email0 .input-email0{
	position: relative;
	border:none;
	width: 70%;
	left: 40px;
	outline: none;
	font-size: 16px;
}






footer{
	position: relative;
	padding: 50px ;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image:url(https://iili.io/2Y1V1I.png); 
	background-size: cover;
	min-height: 20vh;
}

.nav-foot{

	max-width: 400px;
	position: relative;
	right: 50vh;
}
 .nav-foot li a{
	text-decoration: none;
	display: inline-block;
	color: #fff;
	font-weight: lighter;
	font-size: 24px;
	padding: 10px 20px;


}
 .nav-foot li{
	display: inline-block;

	
}


.cool-link::after{
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: orange;
	transition: width .3s
}

.cool-link:hover::after{
	width: 100%;
	transition: width .3s;

}

.cool-link-active::after{
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background: orange;
	transition: width .3s
}



.s-m{

position: absolute;
left: 70%;
width: -1080px;


  

}

.s-m .second-sm{
	display: inline-block;
	position: relative;
	top: 1.6vh;
}

.s-m .first-sm{
	display: inline-block;	
	position: relative;
	top: -1.6vh;
}
  

.s-m  a{
  text-decoration: none;
  font-size: 20px;
  color: #040202;
  min-width: 50px;
  height: 50px;
  text-align: center;
  transition: 0.86s all;
  line-height: 50px;
  cursor: pointer;
  background: #F8F8FF;
  border-radius: 50%;

  

}
.s-m  a:hover{
  transform: scale(1.1);
  color: #643813;
}




.ourteam{
	min-height: 160vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image:url(https://iili.io/21Tggn.png); 
	background-size: cover;
}
.ourteam .team-container{
	padding: 40px 40px;
	display: flex;
	width: 500px;
	
}
.ourteam .team-container .people{
	padding: 30px 30px;
	
	border-radius: 50px;
}